@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Italiana;
}

.container {
    padding: 32px;
}

.slider-wrapper {
    position: relative;
    max-width: 1400px;
    aspect-ratio: 16 / 9;

    margin-inline: auto;



}

ul.slider {

    list-style: none;
    width: 100%;
    aspect-ratio: 16 / 9;
  
}


li.slide-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    background-color: #000;
}

.slide-item img {
    aspect-ratio: 16 / 9;
    display: block;
    width: 100%;
    object-fit: cover;



}

li.slide-item.show {
    opacity: 1;
    visibility: visible;
}

/* =============== */
.slider-content {
    position: absolute;
    top: 50%;
    width: 100%;
}

.slider-content.left {
    left: 100px;
    transform: translateY(-50%);
}

.slider-content.right {
    right: 100px;
    transform: translateY(-50%);
    text-align: right;
}

.slider-content.center {
    top: 10%;
    text-align: center;
}

.slider-content .content-title {
    color: #000;
    font-size: 96px;
    line-height: 1;
    letter-spacing: 1.5px;
    margin-bottom: 30px;

    opacity: 0;
}


.slider-content .content-title.animate {
    animation: slideRight 1s ease forwards;
}

.slider-content .content-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 14px 40px;
    border-radius: 60px;

    opacity: 0;

}

.slider-content .content-btn.animate {
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* ================= */
.slider-indicators {
    position: absolute;
    top: calc(100% - 58px);
    right: 40px;
    list-style: none;
    display: flex;
    gap: 5px;
}

.svg-circle {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.track {
    fill: none;
    stroke: rgb(196, 196, 196);
    stroke-width: 3px;
}

.progress {
    fill: none;
    stroke: rgb(59, 56, 56);
    stroke-width: 3px;
    stroke-dasharray: 75;
    stroke-dashoffset: 75;

    transform: rotate(-90deg);
    transform-origin: center;
}

.indicators.active .progress {
    stroke-dasharray: 75;
    stroke-dashoffset: 75;
    animation: stroke 3s steps(75) forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}